# 忽略编译输出
bin/
obj/
Debug/
Release/

# 忽略用户特定文件
*.user
*.suo
*.userosscache
*.sln.docstates

# 忽略临时文件
*.log
*.tmp
*.cache
*.pdb
*.db
*.lock

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# Visual Studio 文件夹
.vs/

